*{
  padding: 0;
  margin: 0;
}
body{
  background: #116EA0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.displayWord{
  position: relative;
  text-align: center;
  width: 80vw;
  padding-bottom: 20em;
  }
.wordLetter{
  padding: 10px;
  display: inline;
  font-size: 3em;
}

#letterContainer{
  z-index: 1;
  flex-wrap: wrap;
  position: fixed;
  bottom: 20vh;
  left: 50%;
  margin-left: -25vw;
  width: 50vw;
  text-align: center;
}
.displayLetters{
  padding: 1em;
  display: inline-block;
}
.displayLetters:hover{
  cursor: pointer;
}
#wave {
  top: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 200);
  height: 130px;
  margin: 0px;
  transition: linear 2s;
  z-index: -1;
}

#wave button{
  position: relative;
  left: 50%;
  bottom: 50%;
}

#wrongLetterContainer{
  top: 5vw;
  left: 5vw;
  position: fixed;
  border-style: solid;
  width: 12em;
  height: 5em;
}

#wrongLetter{
  font-size: 2em;
}

.center{
  text-align: center;
}

/* @keyframes move {
  0% {
    padding-top: 90vh;
  }
  100% {
    padding-top: 50vh;
  }
}  */
