*{
  padding: 0;
  margin: 0;
}
body{
  background: #5ac5ff;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.displayWord{
  position: relative;
  text-align: center;
  width: 80vw;
  padding-bottom: 5em;
  }
.wordLetter{
  padding: 10px;
  display: inline;
  font-size: 3em;
}

.wordLetter:hover{
  cursor: default;
}

#letterContainer{
  z-index: 1;
  flex-wrap: wrap;
  position: fixed;
  bottom: 20vh;
  left: 50%;
  margin-left: -25vw;
  width: 50vw;
  text-align: center;
}
.displayLetters{
  padding: 1em;
  display: inline-block;
}
.displayLetters:hover{
  cursor: pointer;
}

.pickedLetters{
  padding: 1em;
  display: inline-block;
  opacity: 0;
}

.pickedLetters:hover{
  cursor: default;
}

#wave {
  top: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 200);
  height: 130px;
  margin: 0px;
  transition: linear 2s;
  z-index: -1;
}

#wave button{
  position: relative;
  left: 50%;
  bottom: 50%;
}

#wrongLetterContainer{
  top: 5vw;
  left: 5vw;
  position: fixed;
  border-style: solid;
  width: 12em;
  height: 5em;
}

#wrongLetter{
  font-size: 2em;
}

.center{
  text-align: center;
}

#guy-container {
  position: relative;
}

@keyframes moveStick {
  0% {
    left: 50vw;
  }

  20% {
    top: 5px;
  }

  40% {
    left: 49vw;
  }

  60% {
    top: 8px;
  }

  80% {
    left: 50.5vw;
  }

  100% {
    left: 50vw;
  }
}



.stick-guy {
  height: 10em;
  position: absolute;
  top: 0;
  left: 50vw;
  animation-name: moveStick;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes losingStick {
  0% {
    visibility: visible;
  }

  10% {
    visibility: visible;
    top: 20%
  }

  20% {
    visibility: visible;
    top: 40%
  }

  30% {
    visibility: visible;
    top: 60%
  }

  40% {
    visibility: visible;
    top: 80%
  }

  50% {
    visibility: visible;
    top: 100%;
  }

  60% {
    visibility: visible;
    top: 120%
  }

  70% {
    visibility: visible;
    top: 140%;
  }

  80% {
    visibility: visible;
    top: 160%
  }

  90% {
    visibility: visible;
    top: 180%;
  }

  100% {
    visibility: hidden;
    top: 200%;
    width: 0;
    height: 0;
  }
}

.lost-stick-guy {
  visibility: hidden;
  height: 10em;
  top: 0;
  left: 50vw;
  position: absolute;
  animation-name: losingStick;
  animation-duration: 3s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: linear;
}


.game-over-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20em;
  will-change: transform;
}

.game-over-button:disabled {
  pointer-events: none;
}

.game-over-button:hover {
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.game-over-button:active {
  box-shadow: none;
  transform: translateY(0);
}

#game-over-container{
  text-align: center;
}

.outcome{
  font-size: 5em;
  padding: 1em;
}

.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
}
.confetti:nth-child(1) {
  background-color: #f2d74e; left: 10%; animation-delay: -1.6s;
}
.confetti:nth-child(2) {
  background-color: #95c3de; left: 20%; animation-delay: -5.6s;
}
.confetti:nth-child(3) {
  background-color: #ff9a91; left: 30%; animation-delay: -7.6s;
}
.confetti:nth-child(4) {
  background-color: #816bfd; left: 40%; animation-delay: -0.4s;
}
.confetti:nth-child(5) {
  background-color: #00446c; left: 50%; animation-delay: -6.9s;
}
.confetti:nth-child(6) {
  background-color: #f81500; left: 60%; animation-delay: -4.2s;
}
.confetti:nth-child(7) {
  background-color: #5dd1e3; left: 70%; animation-delay: -0.6s;
}
.confetti:nth-child(8) {
  background-color: #95c3de; left: 80%; animation-delay: -8.9s;
}
.confetti:nth-child(9) {
  background-color: #ff9a91; left: 90%; animation-delay: -4.5s;
}
.confetti:nth-child(10) {
  background-color: #15ff00; left: 100%; animation-delay: -6.3s;
}
.confetti:nth-child(11) {
  background-color: #ff00cc; left: 10%; animation-delay: -7.1s;
}
.confetti:nth-child(12) {
  background-color: #95c3de; left: 20%; animation-delay: -0.3s;
}
.confetti:nth-child(13) {
  background-color: #ff9a91; left: 30%; animation-delay: -6.7s;
}
.confetti:nth-child(14) {
  background-color: #f0f0f0; left: 40%; animation-delay: -5.4s;
}
.confetti:nth-child(15) {
  background-color: #95c3de; left: 50%; animation-delay: -8.6s;
}
.confetti:nth-child(16) {
  background-color: #ff9a91; left: 60%; animation-delay: -5.8s;
}
.confetti:nth-child(17) {
  background-color: #ff4141; left: 70%; animation-delay: -4.9s;
}
.confetti:nth-child(18) {
  background-color: #95c3de; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(19) {
  background-color: #ff9a91; left: 90%; animation-delay: -3.2s;
}
.confetti:nth-child(20) {
  background-color: #f2d74e; left: 100%; animation-delay: -3.9s;
}

@keyframes confetti {
  0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
  25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
  50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
  75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
  100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}