*{
  padding: 0;
  margin: 0;
}
body{
  background: #116EA0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.displayWord{
  position: relative;
  text-align: center;
  width: 80vw;
  padding-bottom: 20em;
  }
.wordLetter{
  padding: 10px;
  display: inline;
  font-size: 3em;
}

#letterContainer{
  z-index: 1;
  flex-wrap: wrap;
  position: fixed;
  bottom: 20vh;
  left: 50%;
  margin-left: -25vw;
  width: 50vw;
  text-align: center;
}
.displayLetters{
  padding: 1em;
  display: inline-block;
}
.displayLetters:hover{
  cursor: pointer;
}
#wave {
  top: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 200);
  height: 130px;
  margin: 0px;
  transition: linear 2s;
  z-index: -1;
}

#wave button{
  position: relative;
  left: 50%;
  bottom: 50%;
}

#wrongLetterContainer{
  top: 5vw;
  left: 5vw;
  position: fixed;
  border-style: solid;
  width: 12em;
  height: 5em;
}

#wrongLetter{
  font-size: 2em;
}

.center{
  text-align: center;
}

#guy-container {
  position: relative;
}

.stick-guy {
  height: 10em;
  position: absolute;
  top: 0;
  left: 50vw;
}

.game-over-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20em;
  will-change: transform;
}

.game-over-button:disabled {
  pointer-events: none;
}

.game-over-button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.game-over-button:active {
  box-shadow: none;
  transform: translateY(0);
}
